body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media (min-width: 768px) {
    .sb-fixed {
        position: fixed;
        width: 150px;
        top: 70px;
        z-index: 10;
    }

    #main {
        width:calc(100% - 150px);
        float: right;
    }
}

.full-height {
    position: relative;
    top: 50px;
    min-height: 768px;
    border: solid 5px red;
}

.footer {
    border: solid 1px green;
    position: relative;
    top: 50px;
}

/* Labs Input Form */
.icon-in-range {
    color: green;
}

.icon-out-of-range {
    color: red;
}

.icon-transparent {
    color: transparent !important;
}

#labs-form .checkbox-inline {
    margin-left: 10px;
}

#labs-form .glyphicon {
    top: 0px;
}